<div class="about-page">
    <header class="about-header">
      <h1>About Us</h1>
      <p>Welcome to Consero Global Solutions, where innovation meets excellence.</p>
    </header>
  
    <section class="company-mission"style="text-align: center;">
      <h2 >Our Mission</h2>
      <p>
        To disrupt the way businesses achieve the financial clarity and scalability needed to drive them forward.</p>
    </section>
    <section class="company-Vision"style="text-align: center;">
      <h2 >Our Vision</h2>
      <p>
        To make the traditional in-house finance and accounting function as obsolete as the old school flip phone.    </section>
  
    <section class="company-Promiss" >
      <h2 style="text-align: center;">Our Promise to You</h2>
      <ul style="padding-left: 500px;">
        <li>Unify and clarify your numbers and processes.</li>
        <li> Reduce the time you spend on finances by 90%.</li>
        <li> Provide a solution that scales at the speed of your business.</li>
        <li> Enable growth as a driving force behind your business's momentum and profitability.</li>
        <li>To do all of the above within 90 days, <strong>guaranteed</strong>.</li>
      </ul>
    </section>
  
    <section class="company-history" style="text-align: center;">
      <h2>About Consero Global</h2>
      <p>
        Consero was founded in early 2006 with the goal of providing small and mid-market companies with a superior alternative to building and maintaining an in-house finance function.
<br><br>
        Since then we have expanded our solution offering strategy and funding services, operational financial services, financial controller services, bookkeeping and administration services and debuting our proprietary cloud-based software platform, SIMPL.      </p>
    </section>
  
    <!-- <section class="meet-the-team">
      <h2>Meet Our Team</h2>
      <div class="team-members">
        <div class="team-member">
          <img src="assets/team-member1.jpg" alt="John Doe">
          <h3>John Doe</h3>
          <p>CEO & Founder</p>
        </div>
        <div class="team-member">
          <img src="assets/team-member2.jpg" alt="Jane Smith">
          <h3>Jane Smith</h3>
          <p>Chief Operating Officer</p>
        </div>
        <div class="team-member">
          <img src="assets/team-member3.jpg" alt="Michael Johnson">
          <h3>Michael Johnson</h3>
          <p>Chief Technology Officer</p>
        </div>
      </div>
    </section> -->
  
    <section class="contact-us" style="text-align: center;">
      <h2>Contact Us</h2>
      <p>
        <strong>Consero Global LLC</strong>
        1717 West 6th Street, Suite 410
Austin, TX 78703  or call us at <strong>866.588.0495</strong>.
      </p>
    </section>
  </div>
  